gato.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!-- Descripción WSDL de la clase Servidor. -->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			 xmlns:tns="urn:Gato_B12037_B10141"
			 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			 xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
			 name="Gato_B12037_B10141"
			 targetNamespace="urn:Gato_B12037_B10141">

	<types>
		<xsd:schema targetNamespace="urn:Gato_B12037_B10141"/>
	</types>

	<message name="poner_fichaIn">
		<part name="fila" type="xsd:int"/>
		<part name="columna" type="xsd:int"/>
	</message>

	<message name="poner_fichaOut">
		<part name="return" type="xsd:int"/>
	</message>

	<message name="imprimirIn"/>

	<message name="imprimirOut">
		<part name="return" type="xsd:string"/>
	</message>
	
	<message name="set_turno_jugadorIn">
		<part name="turno" type="xsd:int"/>
	</message>
	
	<message name="set_turno_jugadorOut"/>
	
	<message name="get_turno_jugadorIn"/>
	
	<message name="get_turno_jugadorOut">
		<part name="return" type="xsd:int"/>
	</message>
	
	<message name="mostar_tableroIn"/>

	<message name="mostar_tableroOut">
		<part name="return" type="xsd:string"/>
	</message>

	<portType name="Gato_B12037_B10141Port">
		<operation name="poner_ficha">
			<documentation>Servidor::poner_ficha() pone una ficha en la posicion que se desea.</documentation>
			<input message="tns:poner_fichaIn"/>
			<output message="tns:poner_fichaOut"/>
		</operation>
		<operation name="imprimir">
			<documentation>Servidor::imprimir() imprime ganador.</documentation>
			<input message="tns:imprimirIn"/>
			<output message="tns:imprimirOut"/>
		</operation>
		<operation name="set_turno_jugador">
			<documentation>Servidor::set_turno_jugador() cambia el jugador que le corresponde jugar.</documentation>
			<input message="tns:set_turno_jugadorIn"/>
			<output message="tns:set_turno_jugadorOut"/>
		</operation>
		<operation name="get_turno_jugador">
			<documentation>Servidor::get_turno_jugador() obtiene el jugador que le corresponde jugar.</documentation>
			<input message="tns:get_turno_jugadorIn"/>
			<output message="tns:get_turno_jugadorOut"/>
		</operation>
		<operation name="mostar_tablero">
			<documentation>Servidor::imprimir() imprime ganador.</documentation>
			<input message="tns:mostar_tableroIn"/>
			<output message="tns:mostar_tableroOut"/>
		</operation>
	</portType>

	<binding name="Gato_B12037_B10141Binding" type="tns:Gato_B12037_B10141Port">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

		<operation name="poner_ficha">
			<soap:operation soapAction="urn:Gato_B12037_B10141#Servidor#poner_ficha"/>
			<input>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:Gato_B12037_B10141"/>
			</input>
			<output>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:Gato_B12037_B10141"/>
			</output>
		</operation>
		<operation name="imprimir">
			<soap:operation soapAction="urn:Gato_B12037_B10141#Servidor#imprimir"/>
			<input>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:Gato_B12037_B10141"/>
			</input>
			<output>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:Gato_B12037_B10141"/>
			</output>
		</operation>
		<operation name="set_turno_jugador">
			<soap:operation soapAction="urn:Gato_B12037_B10141#Servidor#set_turno_jugador"/>
			<input>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:Gato_B12037_B10141"/>
			</input>
			<output>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:Gato_B12037_B10141"/>
			</output>
		</operation>
		<operation name="get_turno_jugador">
			<soap:operation soapAction="urn:Gato_B12037_B10141#Servidor#get_turno_jugador"/>
			<input>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:Gato_B12037_B10141"/>
			</input>
			<output>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:Gato_B12037_B10141"/>
			</output>
		</operation>
		<operation name="mostar_tablero">
			<soap:operation soapAction="urn:Gato_B12037_B10141#Servidor#mostar_tablero"/>
			<input>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:Gato_B12037_B10141"/>
			</input>
			<output>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:Gato_B12037_B10141"/>
			</output>
		</operation>
	</binding>

	<service name="Gato_B12037_B10141Service">
		<port name="Gato_B12037_B10141Port" binding="tns:Gato_B12037_B10141Binding">
			<soap:address location="http://titanic.ecci.ucr.ac.cr/~eb10141/tic_tac_toe/"/>
		</port>
	</service>
</definitions>
