gato.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!-- Descripción WSDL de la clase Servidor. -->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			 xmlns:tns="urn:Gato_B12037_B10141"
			 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			 xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
			 name="Gato_B12037_B10141"
			 targetNamespace="urn:Gato_B12037_B10141">

	<types>
		<xsd:schema targetNamespace="urn:Gato_B12037_B10141"/>
	</types>

	<message name="poner_fichaIn">
		<part name="fila" type="xsd:int"/>
		<part name="columna" type="xsd:int"/>
	</message>

	<message name="poner_fichaOut">
		<part name="return" type="xsd:int"/>
	</message>

	<message name="imprimirIn"/>

	<message name="imprimirOut">
		<part name="return" type="xsd:string"/>
	</message>
	
	<message name="set_turno_jugadorIn">
		<part name="turno" type="xsd:int"/>
	</message>
	
	<message name="set_turno_jugadorOut"/>
	
	<message name="get_turno_jugadorIn"/>
	
	<message name="get_turno_jugadorOut">
		<part name="return" type="xsd:int"/>
	</message>
	
	<message name="mostrar_tableroIn"/>

	<message name="mostrar_tableroOut">
		<part name="return" type="xsd:string"/>
	</message>
	
	<message name="hay_ganadorIn"/>

	<message name="hay_ganadorOut">
		<part name="return" type="xsd:int"/>
	</message>
	
	<message name="insertar_ganadorIn">
		<part name="nombre" type="xsd:string"/>
		<part name="tiempo" type="xsd:int"/>
	</message>
	
	<message name="insertar_ganadorOut"/>
	
	<message name="mostrar_recordsIn"/>

	<message name="mostrar_recordsOut">
		<part name="return" type="xsd:string"/>
	</message>

	<portType name="Gato_B12037_B10141Port">
		<operation name="poner_ficha">
			<documentation>Servidor::poner_ficha() pone una ficha en la posicion que se desea.</documentation>
			<input message="tns:poner_fichaIn"/>
			<output message="tns:poner_fichaOut"/>
		</operation>
		<operation name="imprimir">
			<documentation>Servidor::imprimir() imprime ganador.</documentation>
			<input message="tns:imprimirIn"/>
			<output message="tns:imprimirOut"/>
		</operation>
		<operation name="set_turno_jugador">
			<documentation>Servidor::set_turno_jugador() cambia el jugador que le corresponde jugar.</documentation>
			<input message="tns:set_turno_jugadorIn"/>
			<output message="tns:set_turno_jugadorOut"/>
		</operation>
		<operation name="get_turno_jugador">
			<documentation>Servidor::get_turno_jugador() obtiene el jugador que le corresponde jugar.</documentation>
			<input message="tns:get_turno_jugadorIn"/>
			<output message="tns:get_turno_jugadorOut"/>
		</operation>
		<operation name="mostrar_tablero">
			<documentation>Servidor::mostrar_tablero() imprime tablero.</documentation>
			<input message="tns:mostrar_tableroIn"/>
			<output message="tns:mostrar_tableroOut"/>
		</operation>
		<operation name="hay_ganador">
			<documentation>Servidor::hay_ganador() verifica si hay ganador.</documentation>
			<input message="tns:hay_ganadorIn"/>
			<output message="tns:hay_ganadorOut"/>
		</operation>
		<operation name="insertar_ganador">
			<documentation>Servidor::insertar_ganador() guarda un tiempo ganador en la bd.</documentation>
			<input message="tns:insertar_ganadorIn"/>
			<output message="tns:insertar_ganadorOut"/>
		</operation>
		<operation name="mostrar_records">
			<documentation>Servidor::mostrar_records() muestra los primeros 10 records .</documentation>
			<input message="tns:mostrar_recordsIn"/>
			<output message="tns:mostrar_recordsOut"/>
		</operation>
	</portType>

	<binding name="Gato_B12037_B10141Binding" type="tns:Gato_B12037_B10141Port">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

		<operation name="poner_ficha">
			<soap:operation soapAction="urn:Gato_B12037_B10141#Servidor#poner_ficha"/>
			<input>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:Gato_B12037_B10141"/>
			</input>
			<output>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:Gato_B12037_B10141"/>
			</output>
		</operation>
		<operation name="imprimir">
			<soap:operation soapAction="urn:Gato_B12037_B10141#Servidor#imprimir"/>
			<input>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:Gato_B12037_B10141"/>
			</input>
			<output>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:Gato_B12037_B10141"/>
			</output>
		</operation>
		<operation name="set_turno_jugador">
			<soap:operation soapAction="urn:Gato_B12037_B10141#Servidor#set_turno_jugador"/>
			<input>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:Gato_B12037_B10141"/>
			</input>
			<output>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:Gato_B12037_B10141"/>
			</output>
		</operation>
		<operation name="get_turno_jugador">
			<soap:operation soapAction="urn:Gato_B12037_B10141#Servidor#get_turno_jugador"/>
			<input>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:Gato_B12037_B10141"/>
			</input>
			<output>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:Gato_B12037_B10141"/>
			</output>
		</operation>
		<operation name="mostrar_tablero">
			<soap:operation soapAction="urn:Gato_B12037_B10141#Servidor#mostrar_tablero"/>
			<input>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:Gato_B12037_B10141"/>
			</input>
			<output>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:Gato_B12037_B10141"/>
			</output>
		</operation>
		<operation name="hay_ganador">
			<soap:operation soapAction="urn:Gato_B12037_B10141#Servidor#hay_ganador"/>
			<input>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:Gato_B12037_B10141"/>
			</input>
			<output>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:Gato_B12037_B10141"/>
			</output>
		</operation>
		<operation name="insertar_ganador">
			<soap:operation soapAction="urn:Gato_B12037_B10141#Servidor#insertar_ganador"/>
			<input>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:Gato_B12037_B10141"/>
			</input>
			<output>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:Gato_B12037_B10141"/>
			</output>
		</operation>
		<operation name="mostrar_records">
			<soap:operation soapAction="urn:Gato_B12037_B10141#Servidor#mostrar_records"/>
			<input>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:Gato_B12037_B10141"/>
			</input>
			<output>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:Gato_B12037_B10141"/>
			</output>
		</operation>
	</binding>

	<service name="Gato_B12037_B10141Service">
		<port name="Gato_B12037_B10141Port" binding="tns:Gato_B12037_B10141Binding">
			<soap:address location="http://titanic.ecci.ucr.ac.cr/~eb10141/tic_tac_toe/"/>
		</port>
	</service>
</definitions>
